html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #030303;
}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo {
    display: flex;
}

.logo__img {
    width: 49px;
    height: 26px;
    background-image: url('assets/svg/logo.svg');
}

.logo__text {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 25px;
}

.nav {
    max-width: 775px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__item {
    list-style: none;
    margin: 0 27px;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    font-weight: 100;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.main__title {
    display: none;
}

.section {
    padding: 75px 0;
}

.section--dark {
    background-color: #030303;
}

.section-title {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin: 0 0 75px;
}

.section-title--underline {
    position: relative;
    margin-bottom: 103px;
}

.section-title--underline::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

.section-title--dark {
    color: #FFFFFF;
}

.welcome {
    padding: 0;
}

.container--welcome {
    display: flex;
    position: relative;
    padding-bottom: 60px;
}

.welcome__inner {
    position: absolute;
    top: 150px;
    z-index: 1;
}

.welcome__title {
    margin-bottom: 25px;
}

.welcome__text {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 0;
}

.welcome__link {
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #710707;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 75px;
    margin-top: 75px;
}

.welcome__slider {
    margin-left: auto;
    position: relative;
}

.welcome-slider__img {
    width: 1000px;
    height: 750px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url('assets/img/welcome-1.jpg');
}

.welcome-slider__controls {
    background-color: #000000;
    padding: 40px 75px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    position: absolute;
    bottom: -60px;
    right: 0;
}

.slider-controls-count {
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
}

.slider-switch {
    display: flex;
    align-items: center;
}

.slider-switch__item {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    margin-right: 25px;
}

.slider-switch__item:last-child {
    margin-right: 0;
}

.slider-switch-item--active {
    background-color: #D2B183;
}

.slider-btn {
    vertical-align: middle;
}

.welcome-slider__controls .slider-btn--pre {
    margin-right: 20px;
}

.slider-btn__img {
    height: 100%;
}

.btn--clear {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.visiting__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
}

.visiting-item {
    color: #000000;
    text-decoration: none;
}

.visiting-item__title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 25px 0 22px;
    position: relative;
}

.visiting-item__title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: #710707;
}

.visiting-item-text {
    margin: 0;
}

.visiting-item-text--2 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
}

.container--explore {
    display: flex;
}

.explore__title::after {
    width: 660px;
}

.explore__text {
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 25px 0 0;
}

.explore__text:first-child {
    margin-top: 0;
}

.explore-text__element {
    color: #CAAA7D;
}

.explore__img {
    margin-left: 60px;
}

.video__inner {
    display: flex;
}

.video__text {
    max-width: 715px;
    margin: 0 0 0 115px;
    font-size: 22px;
    line-height: 38px;
}

.video-player {
    position: relative;
}

.video-player__btn {
    position: absolute;
    top: 215px;
    left: calc(50% - 110px);
    width: 220px;
    height: 220px;
    background-image: url('assets/svg/video-player-btn.svg');
}

.video-player-panel {
    padding: 25px 30px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-player-range {
    margin: 0;
    background: linear-gradient(to right, #710707 0%, #710707 54%, #C4C4C4 54%, #C4C4C4 100%);
    height: 8px;
    width: 929px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.video-player-range::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #FFFFFF;
}

.video-player-volume {
    display: flex;
    align-items: center;
}

.video-player-volume__btn {
    margin-right: 45px;
}

.video-player-volume__level {
    background: linear-gradient(to right, #710707 0%, #710707 43%, #C4C4C4 43%, #C4C4C4 100%);
    width: 155px;
}

.video__slider {
    margin-top: 40px;
}

.video-slider__list {
    display: flex;
}

.video-slider-item {
    width: 452px;
    height: 254px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 42px;
}

.video-slider-item--1 {
    background-image: url('assets/img/video-slider-1.png');
    margin-left: 0;
}

.video-slider-item--2 {
    background-image: url('assets/img/video-slider-2.png');
}

.video-slider-item--3 {
    background-image: url('assets/img/video-slider-3.png');
}

.video-slider-item__btn {
    width: 68px;
    height: 48px;
    background-color: rgba(33, 33, 33, 0.8);
    background-image: url('assets/svg/video-slider-item-btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.video-slider__controls {
    margin: 40px auto 0;
    display: flex;
    width: 200px;
}

.slider-switch--video .slider-switch__item {
    width: 12px;
    height: 12px;
    background-color: #999999;
    margin-right: 20px;
    border-radius: 50%;
}

.slider-switch--video .slider-switch__item:first-child {
    margin-left: 20px;
}

.slider-switch--video .slider-switch-item--active {
    background-color: #333333;
}

.gallery {
    padding-bottom: 0;
}

.gallery__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 36px;
    height: 1960px;
    position: relative;
}

.gallery__wrapper::after {
    content: "";
    height: 360px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery-img--1, .gallery-img--9 {
    margin-top: 50px;
}

.tickets__wrapper {
    display: flex;
}

.tickets__img {
    margin-right: 60px;
}

.tickets__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tickets-type__title, .tickets-amount__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}

.tickets-type-item {
    display: block;
    position: relative;
    margin-bottom: 25px;
    padding-left: 35px;
    cursor: pointer;
}

.tickets-type-item:hover {
    background-color: #E7E7E7;
}

.tickets-type-item__input {
    opacity: 0;
    position: absolute;
}

.tickets-type-item__checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.tickets-type-item__checkmark::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background-color: #000000;
    border-radius: 50%;
    display: none;
}

.tickets-type-item__input:checked~.tickets-type-item__checkmark::after {
    display: block;
}

.tickets-amount__title {
    margin-bottom: 25px;
    text-align: right;
}

.tickets-amount-item {
    margin-bottom: 10px;
}

.tickets-amount-item__desc {
    margin-bottom: 15px;
}

.tickets-amount-item__inner {
    padding: 6px 14px;
    border: 3px solid #000000;
}

.tickets-amount-item__btn {
    all: unset;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    width: 20px;
}

.tickets-amount-item__num {
    all: initial;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.tickets-amount__sum {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    text-align: right;
    margin: 0;
    margin-top: 50px;
}

.tickets-amount__buy {
    background-color: #000000;
    border-radius: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 12px 38px;
    margin-top: 52px;
    margin-left: auto;
}

.main__panorama {
    background-image: url('assets/img/parallax.jpg');
    height: 400px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.contacts__wrapper {
    display: flex;
}

.contacts__name {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin: 0;
}

.contacts__item {
    margin: 25px 0 0;
}

.contacts__item:first-of-type {
    margin-top: 50px;
}

.contacts__map {
    margin-left: 198px;
}

.footer {
    background-color: #030303;
    padding: 75px 20px 50px;
    position: relative;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__inner:first-child {
    margin-bottom: 103px;
}

.footer__inner:last-child::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #666666;
    margin-top: -50px;
}

.footer__nav .nav__list {
    flex-direction: column;
    height: 128px;
    width: 363px;
    align-items: start;
    flex-wrap: wrap;
}

.footer__nav .nav__item {
    margin: 0 0 25px 0;
}

.footer__nav .nav__item:nth-child(3n) {
    margin-bottom: 0;
}

.footer__nav .nav__item:first-child {
    margin-right: 150px;
}

.social {
    margin: 0;
    margin-left: 252px;
    padding: 0;
    display: flex;
    align-self: end;
}

.social__item {
    border: 1px solid #666666;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.social__item:first-child {
    margin-left: 0;
}

.social-img {
    display: block;
}

.footer__item {
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}